@import "vendor/skeleton/skeleton.lessimport";
@import "vendor/medium-editor.lessimport";
@import "vendor/normalize.lessimport";
@import "vendor/font-awesome/font-awesome.lessimport";

// Variables
@primary-font-stack: "Open Sans", Arial, Helvetica, sans-serif;

@nav-height:                65px;

@nav-z-index:   2;
@story-z-index: 1;

@profile-size: 2.5em;

@red:               #E86D3F;  //#FF5556;
@green:             #44AB48; //#11AC50; //#7AB241; //#15FF99;
@light-blue:        #5CE5D8; //#198DFF;
@blue:              #4B98E8; //#2267AC; //#3F59BF; //#25B8CC; //#2980B9;
@dark-blue:         #172C2E;
@gold:              #E8E768;

@off-white:         #F6F6F6; //#eee;

@light-grey:        lighten(@grey, 33.33%); //#ddd;
@grey:              #888;                   //#888
@dark-grey:         darken(@grey, 33.33%);  //#333

@primary-text:      @dark-grey;

@problem-color:     @red;
@solution-color:    @green;

// Mixins
.border-radius(@radius: .3125em) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.border-bottom-left-radius(@radius: 3px) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius: 3px) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.border-bottom-radius(@radius: 3px) {
    .border-bottom-left-radius(@radius);
    .border-bottom-right-radius(@radius);
}

.circle() { .border-radius(999px); }

.border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Utility
.center         { text-align: center; }
.light          { color: @light-grey; }
.display-none   { display: none; }

// General
body {
    font: 1em/1.4 @primary-font-stack;
    color: @primary-text;
    background: @off-white url('/images/agsquare.png');
}

ul, li {
    margin: 0;
    padding: 0;
}

li { list-style: none; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: @blue;
    &:hover {
        text-decoration: underline;
    }
}

img { height: 100%; }

input {
    .border-box();
    outline: none;
    border: none;
    background: transparent;
    padding: .75em;
}

.input-wrapper {
    position: relative;
    .border-radius(3px);
    border: 1px solid @light-grey;
    box-shadow: inset 0 0 5px @light-grey;
    background: white;
    height: 46px;   //48px total with border

    > button {
        float: left;
        width: 20%;
        height: 100%;
        background: white;
        border: none;
        border-left: 1px solid @light-grey;
        .border-radius(3px);
    }
}

// Navigation
.nav {
    position: fixed; top: 0; left: 0;
    z-index: @nav-z-index;
    width: 100%;
    background: white;
    box-shadow: 0 1px 5px @light-grey;
    line-height: @nav-height;

    .logo {
        text-transform: uppercase;
        font-weight: 300;
    }

    .nav-links {
        > li {
            float: left;
            text-align: center;
            font-size: 18px;
            > a {
                position: relative;
                padding: 0 1em;
                color: @dark-grey;
                display: inline-block;
                height: 100%;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;

                &:hover {
                    text-decoration: none;
                    border-color: @light-grey;
                }
            }
        }

        .fa {
            padding-right: .25em;
        }

        .problems:active, .problems:hover   {
            color: @problem-color;
            box-shadow: inset 0 -2px 0 @problem-color;
        }

        .solutions:active, .solutions:hover  {
            color: @solution-color;
            box-shadow: inset 0 -2px 0 @solution-color;
        }
    }

    .profile-link {
        .profile-img {
            position: absolute; top: 50%; right: 10px;
            margin-top: -@profile-size / 2;
        }
    }
}

.profile-link {
    .profile-img {
        width: @profile-size; height: @profile-size;
        background: @light-grey;
        background-image: url('/images/Jordan.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: @profile-size;
        .circle();
    }
}

// Sidebar
.sidebar { font-size: .875em; }

// General Content
.content-container {
    margin-top: @nav-height;
    padding: 1em 0;
}

// Problems Page Content
.new-problem-title {
    float:left;
    width: 80%;
}

.story-feed {
    margin-top: 1em;

    .story-feed-item-wrapper {
        border: 1px solid @light-grey;
        border-radius: 3px;
        margin-top: 10px;
    }

    .story-feed-item {
        position: relative;
        .border-radius(3px);
        background: white;
        border-left: 3px solid @red;
        border-bottom: 1px dashed @light-grey;
        z-index: @story-z-index;

        padding: .5em 1em 0 0;
    }

    // Vote styling (left side)
    .vote {
        width: 10%;
        text-align: center;
        float: left;
    }

    .vote-up {
        font-size: 24px;
        color: @light-grey;

        &:hover {
            color: @red;
            cursor: pointer;
        }
    }

    .vote-count {
        width: 10%;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        color: @red;
        font-weight: bold;
    }

    // Story content styling (right side)
    .story-body {
        float: left;
        width: 90%;
    }

    .story-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: .5em;
        font-weight: 100;
    }

    .story-time-submitted, .story-favorite { float: right; }

    .story-favorite {
        &:hover, &.favorited { color: @red; }

        color: @light-grey;
        cursor: pointer;
        font-size: 1.5em;
    }

    .story-description {
        margin: .25em 0;
        font-size: .875em;
        color: @grey;
    }

    .story-footer {
        float: left;
        width: 100%;
        position: relative; top: 1px;
        font-size: .75em;
    }

    .story-footer-link {
        display: inline-block;
        padding: 5px;
        border: 1px solid transparent;
        .border-radius(3px);
        border-bottom: none;

        &.active {
            border-color: @light-grey;
            background: white;
        }
    }

    .story-comment-section {
        .border-bottom-radius(3px);

        background: white;
        box-shadow: 0 2px 0 @light-grey;
        position: relative;
    }

    .story-comment-icon-wrapper {
        float: left;
        width: 10%;
    }

    // Used on <a> tag
    .story-comment-icon {
        display: block;
        margin: 1em auto;
        width: 40px; height: 40px;
    }

    .story-comment-content {
        .border-box();
        float: left;
        width: 90%;
        padding: 1em 1em 1em 0;
        font-size: 14px;
    }
}