<head>
    <meta charset="UTF-8"/>
    <title>Stratego (Working Name)</title>
</head>

<template name="navigation">
    <div class="nav-container">
        <nav class="nav">
            <div id="logo">Stratego</div>
            <ul>
            <span class="nav-links">
                <li><a href="/problems">Problems</a></li>
                <li><a href="/solutions">Solutions</a></li>
            </span>
            </ul>
        </nav>
    </div>
</template>

<template name="home">
    <!--TODO if logged in show list. If not, show front page.-->
    {{> navigation}}

    {{> list}}
</template>