<head>
    <meta charset="UTF-8"/>
    <title>Stratego (Working Name)</title>
</head>

<body>
</body>

<template name="header">
    <nav class="nav">
        <div class="container">
            <h1 class="logo four columns">Stratego</h1>
            <ul class="nav-links ten columns">
                <li><a class="problems" href="/problems">Problems</a></li>
                <li><a class="solutions" href="/solutions">Solutions</a></li>
            </ul>
            <div class="two columns">
                <a class="profile-link" href="#"><div class="profile-img"></div></a>
            </div>
        </div>
    </nav>
</template>

<template name="layout">
    {{>header}}

    <div class="container content-container">
        {{>yield}}
    </div>
</template>

<template name="notFound">
    <h1>Not Found</h1>
</template>
