<head>
    <meta charset="UTF-8"/>
    <title>Stratego (Working Name)</title>
</head>

<body>
</body>

<template name="header">
    <nav class="nav">
        <div id="logo">Stratego</div>
        <ul>
            <span class="nav-links">
                <li><a href="/problems">Problems</a></li>
                <li><a href="/solutions">Solutions</a></li>
            </span>
        </ul>
    </nav>
</template>

<template name="layout">
    {{>header}}

    <div class="content">
        {{>yield}}
    </div>
</template>

<template name="notFound">
    <h1>Not Found</h1>
</template>